.pa6-wrapper {
    max-width: 100% !important;
    padding: 0 !important;
}

.pa6 {
    > div {
        display: flex;
    }
    > div > div:nth-of-type(2) {
        width: 50%;
        padding-left: 4em;
        > h3 {
            font-weight: 900;
            font-size: 70px;
            line-height: 70px;
            letter-spacing: 0;
            text-transform: uppercase;
        }
        > p:nth-of-type(1) {
            margin-top: 3em;
        }
        > p {
            padding-left: 4em;
        }
    }

    &.material-check {
        p {
            padding-left: 0 !important;
        }
        h3 {
            margin-top: unset;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 1em 0 0;
            column-count: 2;

            li {
                position: relative;
                padding-left: 45px;
                color: #000000;
                line-height: 28px;
                margin-bottom: 15px;
            }

            li::before {
                content: "";
                display: inline-block;
                width: 30px;
                height: 23px;
                position: absolute;
                top: 5px;
                left: 0;
                background: transparent url(../../icons/material-check.svg) no-repeat center center;
            }
        }
    }
}
